
#bottom {
    clear: both;
    position: relative;
    background-color: lightgrey;
    padding-top: 5px;  
    padding-bottom: 30px;
    height: 15px;
}
#left {
    float:left;
    width:300px;
    padding-left: 30px;
}

#right {
    position: relative;
    float:right;
    width:200px;
    margin-bottom: 10px;
    padding-right: 10px;
}
#top {
    position: relative;
    height:80px;
    background-color: white;
    margin: 0px 0px 10px 0px;  
}
#content {
    width:90%;
    margin-left: 305px;

}

