<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </h:head>
    <h:body>
        <ui:composition template="./template.xhtml">
        
            <ui:define name="top">
            </ui:define>

            <ui:define name="left">
            </ui:define>

            <ui:define name="right">
            </ui:define>

            <ui:define name="content">
            </ui:define>

            <ui:define name="bottom">
            </ui:define>

        </ui:composition>

    </h:body>
</html>

