<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <f:view>
        <h:head>
            <title>Akreditacija</title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link href="./resources/css/templateCss.css" rel="stylesheet" type="text/css" />
        </h:head>

        <h:body>
            <div id="top">
                <h1 style="color: darkred; font-size: 300%; font-family: sans-serif; padding-left: 50px">
                    Akreditacija Univerziteta Srbije
                    <img src="./resources/slike/bg.jpg" style=" padding-left: 300px;"/>
                </h1>

                <p:menubar>  
                    <p:submenu label="Rad sa nastavnicima">  
                        <p:menuitem value="Unos" url="./unosNastavnika.xhtml"/>  
                        <p:menuitem value="Izmena" url="#"/>  
                        <p:menuitem value="Brisanje" url="#"/>  
                    </p:submenu>  

                    <p:submenu label="Rad sa predmetima">  
                        <p:menuitem value="Unos" url="#" />  
                        <p:menuitem value="Izmena" url="#"/>  
                        <p:menuitem value="Brisanje" url="#"/> 
                    </p:submenu>  
                </p:menubar> 
            </div>

            <div id="right">
                <ui:insert name="left"></ui:insert>
            </div>

            <div id="content">
                <ui:insert name="content">Content</ui:insert>
            </div>
            <div id="bottom" closable="true" collapsible="true">
                <ui:insert name="bottom">Bottom</ui:insert>
            </div>
        </h:body>
    </f:view>
</html>
