<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
  <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </h:head>
    <h:body>
        <ui:composition template="./template.xhtml">
        
            <ui:define name="top">
            </ui:define>
            

            <ui:define name="left">
            </ui:define>

            <ui:define name="right">
            </ui:define>
            
            <ui:define name="content">
                    <h:form id="nastavnik" enctype="multipart/form-data">
                        <p:panel id="podaciONastavniku" header="Unesite podatke o nastavniku" style="width:550px; margin-left: 70px;" >
                            <table id="tabelaPregled" style="width:50px;" border="0" cellspacing="5" cellpadding="5">
                                <tbody>
                                    <tr>
                                        <td> <h:outputText value="Ime i prezime: " /></td>
                                        <td><p:inputText style="margin-left: 80px; width:200px;" value="#{nastavnikBean.nastavnik.imePrezime}"  required="true" requiredMessage="Ime je obavezno polje"/></td>
                                    </tr>
                            
                                    <tr>
                                        <td><h:outputText value="Datum rodjenja: " /></td>
                                        <td> <p:inputText style="margin-left: 80px; width:200px;" value="#{nastavnikBean.nastavnik.datumRodjenja}"/> </td>
                                    </tr>
                                    <tr>
                                        <td> <h:outputText value="Broj telefona: " /></td>
                                        <td><p:inputText style="margin-left: 80px; width:200px;" value="#{nastavnikBean.nastavnik.brojTelefona}"  /></td>
                                    </tr>
                                  
                                    <tr>
                                        <td><h:outputText value="Email: " /></td>
                                        <td> <p:inputText style="margin-left: 80px; width:200px;" value="#{nastavnikBean.nastavnik.emailAdresa}" /> </td>
                                    </tr>
                                    <tr>
                                        <td><h:outputText value="Redni broj: " /></td>
                                        <td> <p:inputText style="margin-left: 80px; width:200px;" value="#{nastavnikBean.nastavnik.redniBroj}" /> </td>
                                    </tr>
                                    <tr>
                                        <td>Titula</td>
                                        <td>
                                            <p:selectOneMenu id="titula" style="width:200px;" value="#{nastavnikBean.nastavnik.titulaId}" converter="titulaKonverter" >
                                                 <f:selectItems value="#{titulaBean.vratiTitule()}" var="titula" itemLabel="#{titula.toString()}" itemValue="#{titula}">    
                                                </f:selectItems>
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>Katedra</td>
                                        <td>
                                            <p:selectOneMenu id="katedra" style="width:200px;" value="#{nastavnikBean.nastavnik.katedraId}" converter="katedraKonverter">
                                                <f:selectItems value="#{katedraBean.vratiKatedre()}" var="katedra" itemLabel="#{katedra.toString()}" itemValue="#{katedra}">    
                                                </f:selectItems>
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p:commandButton value="Sačuvaj" style ="margin-left:350px;"/>
                        </p:panel>
                    </h:form>
               
            </ui:define>

            <ui:define name="bottom">

            </ui:define>

        </ui:composition>

    </h:body>
</html>
